@font-face {
  font-family: 'Salamander';
  src: url('../fonts/SalamanderScript.otf');
}
@font-face {
  font-family: 'Lato Regular';
  src: url('../fonts/LatoRegular.ttf');
}
@font-face {
  font-family: 'Lato Light';
  src: url('../fonts/LatoLight.ttf');
}
@font-face {
  font-family: 'Lato Bold';
  src: url('../fonts/LatoBold.ttf');
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Lato Regular';
  background: url("../img/bg/tweed_@2X.png") repeat top left;
}
h1 {
  margin: 0;
  visibility: hidden;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.fullscreen {
  width: 100%;
  margin: 0 auto;
}
.container {
  width: 71.25%;
  margin: 0 auto;
  box-sizing: border-box;
}
.work {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 40px 3% 40px;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;
}
.portfolio-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
  border: 1px solid #ffffff;
  border-left-color: transparent;
  border-right-color: transparent;
  box-sizing: border-box;
}
.portfolio-nav__title {
  margin: 38px 20px;
  font-family: 'Salamander';
  font-weight: normal;
  font-size: 34px;
  line-height: 34px;
  text-transform: initial;
}
.portfolio-nav__link {
  margin-right: 35px;
  padding: 10px;
  font-family: 'Lato Bold';
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border-radius: 5px;
}
.portfolio-nav__link:last-child {
  margin-right: 10px;
}
.portfolio-nav__link:hover {
  background-color: #f5c149;
}
.portfolio-body {
  max-width: 1490px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
.portfolio-item {
  width: 70%;
  max-width: 300px;
  margin: 0 auto 25px auto;
}
.portfolio-item__link {
  position: relative;
  display: block;
  overflow: hidden;
  border: 2px solid #ffffff;
  border-radius: 7px;
  box-sizing: border-box;
}
.portfolio-item__image {
  display: block;
  width: 100%;
  height: 100%;
}
.portfolio-item__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  visibility: hidden;
}
.portfolio-item__icon svg {
  width: 100%;
  height: 100%;
}

.portfolio-item__description {
  display: inline-block;
  position: relative;
  right: 50%;
  font-family: 'Salamander';
  font-weight: normal;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
}

.portfolio-item__description_f {
  left: -12px;
}

.portfolio-item__link:hover .portfolio-item__image {
  opacity: 0.5;
}
.portfolio-item__link:hover .portfolio-item__icon {
  visibility: visible;
}
