.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.container {
  width: 87.5%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 660px) {
  .container {
    width: 88.5714285%;
  }
}
@media (min-width: 960px) {
  .container {
    width: 97.9166666%;
  }
}
html {
  font-size: 16px;
}
body {
  position: relative;
  width: 100%;
  margin: 0;
  text-align: center;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 0.875rem;
  line-height: 1.6;
  background-color: #ffffff;
  color: #283645;
}
@media (min-width: 660px) {
  body {
    font-size: 1.125rem;
  }
}
img {
  max-width: 100%;
  height: auto;
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  margin-top: 20px;
  padding-bottom: 9px;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 660px) {
  h1 {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: 1.125rem;
  color: #000000;
}
@media (min-width: 960px) {
  h2 {
    font-size: 1.875rem;
  }
}
a {
  color: #d22856;
  text-decoration: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
legend,
fieldset {
  margin: 0;
  padding: 0;
}
.base-link {
  font-weight: 400;
  color: #d22856;
  text-decoration: underline;
}
.base-link:hover {
  color: #283645;
  text-decoration: underline;
}
.base-link:active {
  color: rgba(40, 54, 69, 0.3);
}
.date {
  display: block;
  margin-bottom: 17px;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #d22856;
}
@media all and (min-width: 660px) {
  .date {
    margin-bottom: 24px;
    font-size: 0.875rem;
  }
}
@media all and (min-width: 660px) {
  .date_upper {
    display: none;
  }
}
.date_lower {
  display: none;
  position: relative;
  width: 300px;
  margin: auto;
  text-align: center;
  font-size: 0.875rem;
  background: #ffffff;
  z-index: 15;
}
@media all and (min-width: 660px) {
  .date_lower {
    display: block;
  }
}
.header {
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
  color: #ffffff;
  user-select: none;
}
.header__container {
  width: 87.5%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 660px) {
  .header__container {
    width: 88.5714285%;
  }
}
@media (min-width: 960px) {
  .header__container {
    width: 97.9166666%;
  }
}
.header__container::after {
  content: "";
  display: block;
  clear: both;
}
@media (min-width: 660px) {
  .header__container {
    padding-top: 30px;
    padding-bottom: 32px;
  }
}
.header__logo {
  float: left;
}
.header_mini {
  background-color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 960px) {
  .header_mini {
    display: none;
  }
}
.header_full {
  display: none;
  background-color: #283645;
}
@media (min-width: 960px) {
  .header_full {
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.logo-white_mobile {
  width: 74.426px;
  height: 22.859px;
}
@media all and (min-width: 660px) {
  .logo-white_mobile {
    display: none;
  }
}
.logo-white_tablet {
  display: none;
  width: 146.3px;
  height: 40.375px;
}
@media all and (min-width: 660px) {
  .logo-white_tablet {
    display: inline;
  }
}
@media all and (min-width: 960px) {
  .logo-white_tablet {
    display: none;
  }
}
.logo-white_desktop {
  display: none;
  width: 146.3px;
  height: 40.375px;
}
@media all and (min-width: 960px) {
  .logo-white_desktop {
    display: inline;
  }
}
.header__logo:hover .logo-white__text,
.header__logo:hover .logo-white__glasses {
  fill: #d22856;
}
.header__logo:active .logo-white__text,
.header__logo:active .logo-white__glasses {
  fill: #ffffff;
}
.header__logo:active .logo-white {
  opacity: 0.3;
}
.toggle {
  position: relative;
  float: right;
  width: 50px;
  height: 25px;
  cursor: pointer;
}
@media (min-width: 660px) {
  .toggle {
    margin-top: 10px;
  }
}
@media (min-width: 960px) {
  .toggle {
    display: none;
  }
}
.toggle_open {
  background-image: linear-gradient(#ffffff 16%, rgba(255, 255, 255, 0) 16%, rgba(255, 255, 255, 0) 44%, #ffffff 44%, #ffffff 60%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 84%, #ffffff 84%, #ffffff 100%);
}
.toggle_open:hover {
  background-image: linear-gradient(#d22856 16%, rgba(255, 255, 255, 0) 16%, rgba(255, 255, 255, 0) 44%, #d22856 44%, #d22856 60%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 84%, #d22856 84%, #d22856 100%);
}
.toggle_close {
  z-index: 70;
  width: 25px;
  height: 25px;
  font-size: 50px;
  line-height: 25px;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  color: #ffffff;
}
.toggle_close:hover {
  color: #d22856;
}
.toggle:active {
  opacity: 0.3;
}
.nav-btn {
  display: none;
}
.nav-btn:checked ~ .header_full {
  display: block;
}
.navigation {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-top: 1px solid #000000;
  background-color: #283645;
}
.navigation__item {
  border-bottom: 1px solid #000000;
}
@media (min-width: 960px) {
  .navigation__item {
    margin-left: 10.1%;
    border-bottom: none;
  }
}
.navigation__link {
  display: block;
  padding: 20px 0;
  border-top: 1px solid #485461;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}
@media (min-width: 960px) {
  .navigation__link {
    padding: 10px 0;
    border: none;
    font-size: 1.125rem;
    font-weight: 400;
    text-transform: none;
  }
}
@media (min-width: 960px) {
  .navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 960px) {
  .navigation {
    position: static;
    display: block;
    float: right;
    width: 670px;
    border-top: none;
    background: none;
  }
}
.navigation__link:hover {
  color: #d22856;
}
@media (min-width: 960px) {
  .navigation__link:hover {
    padding-bottom: 8px;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
  }
}
.navigation__link:active {
  color: rgba(210, 40, 86, 0.3);
}
@media (min-width: 960px) {
  .navigation__link:active {
    color: #ffffff;
    opacity: 0.3;
  }
}
@media (min-width: 660px) {
  .intro {
    background-color: #1d2631;
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/background-tablet@1x.jpg");
    background-position: center bottom, center top;
    background-repeat: no-repeat, no-repeat;
    background-size: 700px auto, cover;
  }
}
@media (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .intro {
    background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/background-tablet@2x.jpg");
  }
}
@media (min-width: 960px) {
  .intro {
    background-color: #1d2631;
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/background-fullsize.jpg");
    background-position: 97% bottom, center top;
    background-repeat: no-repeat, no-repeat;
    background-size: 1050px auto, cover;
  }
}
@media (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
  .intro {
    background-image: url("../img/iphone-hand-desktop@2x.png"), url("../img/background-fullsize.jpg");
  }
}
@media (min-width: 660px) {
  .intro__container {
    width: 87.5%;
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 199px 0 94px;
  }
}
@media (min-width: 660px) and (min-width: 660px) {
  .intro__container {
    width: 88.5714285%;
  }
}
@media (min-width: 660px) and (min-width: 960px) {
  .intro__container {
    width: 97.9166666%;
  }
}
.page-title {
  color: #ffffff;
  background-color: #1d2631;
  background-image: url("../img/background-mobile@1x.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-title {
    background-image: url("../img/background-mobile@2x.jpg");
  }
}
@media (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .page-title {
    background-image: url("../img/background-mobile@3x.jpg");
  }
}
@media (min-width: 660px) {
  .page-title {
    background-image: url("../img/background-tablet@1x.jpg");
  }
}
@media (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .page-title {
    background-image: url("../img/background-tablet@2x.jpg");
  }
}
@media (min-width: 960px) {
  .page-title_inner {
    background-image: url("../img/background-fullsize.jpg");
  }
}
.page-title__container {
  width: 87.5%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 77px;
  padding-bottom: 37px;
}
@media (min-width: 660px) {
  .page-title__container {
    width: 88.5714285%;
  }
}
@media (min-width: 960px) {
  .page-title__container {
    width: 97.9166666%;
  }
}
@media (min-width: 660px) {
  .page-title__container {
    padding-top: 180px;
    padding-bottom: 80px;
  }
}
@media (min-width: 960px) {
  .page-title__container_inner {
    padding-top: 172px;
    padding-bottom: 101px;
  }
}
.page-title_main {
  margin-left: 0;
  background-color: #1d2631, #1d2631;
  background-image: url("../img/iphone-hand-mobile.png"), url("../img/background-mobile@1x.jpg");
  background-position: 5% bottom, center top;
  background-repeat: no-repeat, no-repeat;
  background-size: 258px auto, cover;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-title_main {
    background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/background-mobile@2x.jpg");
  }
}
@media (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .page-title_main {
    background-image: url("../img/iphone-hand-mobile@3x.png"), url("../img/background-mobile@3x.jpg");
  }
}
@media (min-width: 350px) {
  .page-title_main {
    background-position: 20% bottom, center top;
  }
}
@media (min-width: 500px) {
  .page-title_main {
    background-position: 30% bottom, center top;
  }
}
@media (min-width: 550px) {
  .page-title_main {
    background-position: 40% bottom, center top;
  }
}
@media (min-width: 660px) {
  .page-title_main {
    background: none;
  }
}
.page-title__container_main {
  padding-top: 66px;
  padding-bottom: 298px;
}
@media (min-width: 660px) {
  .page-title__container_main {
    padding: 0;
  }
}
.page-title__heading {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  z-index: 100;
}
.page-title__heading_main {
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 660px) {
  .page-title__heading_main {
    margin-top: 5px;
    margin-left: 0;
    font-size: 2.5rem;
  }
}
@media (min-width: 960px) {
  .page-title__heading_main {
    margin-top: 20px;
    font-size: 3.125rem;
  }
}
@media (min-width: 660px) {
  .page-title__heading_inner {
    font-size: 3.125rem;
  }
}
.page-title__heading_blog {
  margin-bottom: 5px;
}
@media (min-width: 660px) {
  .page-title__heading_blog {
    margin-top: 0;
    margin-bottom: -5px;
  }
}
@media (min-width: 960px) {
  .page-title__heading_blog {
    margin-bottom: 0;
  }
}
@media (min-width: 660px) {
  .page-title__heading_form {
    max-width: 80%;
    margin: auto;
  }
}
.download-app {
  position: relative;
  z-index: 100;
  font-weight: 300;
  color: #ffffff;
  background-color: #1d2631;
}
@media (min-width: 660px) {
  .download-app {
    font-size: 1.125rem;
    background: none;
  }
}
.download-app__container {
  width: 87.5%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 28px;
  padding-bottom: 21px;
}
@media (min-width: 660px) {
  .download-app__container {
    width: 88.5714285%;
  }
}
@media (min-width: 960px) {
  .download-app__container {
    width: 97.9166666%;
  }
}
@media (min-width: 660px) {
  .download-app__container {
    width: 300px;
    padding: 5px 0;
  }
}
@media (min-width: 960px) {
  .download-app__container {
    width: 300px;
    padding: 17px 0;
  }
}
@media (min-width: 660px) {
  .download-app__description {
    width: 300px;
    line-height: 1.4;
  }
}
.download-app__platforms {
  height: 56.753px;
  margin: 31px auto 24px;
  padding: auto;
}
@media (min-width: 660px) {
  .download-app__platforms {
    margin-top: 45px;
    margin-bottom: 34px;
  }
}
@media (min-width: 960px) {
  .download-app__platforms {
    margin-top: 65px;
    margin-bottom: 56px;
  }
}
.platform {
  display: inline-block;
  vertical-align: bottom;
  width: 46px;
  height: 56px;
  margin-right: 30px;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.platform:last-child {
  margin-right: 0;
}
.platform_apple {
  background-image: url("../img/apple-logo.svg");
}
.platform_android {
  background-image: url("../img/android-logo.svg");
}
.platform_windows {
  background-image: url("../img/microsoft-logo.svg");
}
.btn {
  display: block;
  margin-bottom: 30px;
  line-height: 1.2;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
}
.btn_download {
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 1.125rem;
  font-weight: 700;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 27px;
  text-decoration: none;
}
@media (min-width: 660px) {
  .btn_download {
    width: 276px;
    margin-left: 0;
  }
}
@media (min-width: 960px) {
  .btn_download {
    width: 296px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 1.3125rem;
  }
}
.btn_download:hover {
  color: #d22856;
  background: #ffffff;
}
.btn_download:active {
  color: rgba(210, 40, 86, 0.3);
}
.btn_upload {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 33px;
  padding: 19px;
  text-transform: uppercase;
  color: #283645;
  background: #ffffff;
  border: 2px solid #e7e7e7;
  border-radius: 2px;
  cursor: pointer;
}
@media (min-width: 660px) {
  .btn_upload {
    margin-bottom: 40px;
  }
}
@media (min-width: 960px) {
  .btn_upload {
    padding: 21px;
    color: #ffffff;
    background: #d22856;
  }
}
.btn_upload:hover {
  border-color: #283645;
}
.btn_upload:active {
  color: #ffffff;
  border-color: #283645;
  background: #283645;
}
.btn_green {
  width: 100%;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  padding: 21px;
  text-transform: uppercase;
  color: #ffffff;
  background: #2aab6d;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
@media (min-width: 660px) {
  .btn_green {
    max-width: 300px;
    float: left;
    margin-top: 0;
  }
}
.btn_green:hover {
  background: #208253;
}
.btn_green:active {
  color: rgba(255, 255, 255, 0.3);
}
.btn_green:disabled {
  background: #e5e5e5;
}
.features__title {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media (min-width: 660px) {
  .features__title {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
@media (min-width: 960px) {
  .features__title {
    padding-top: 68px;
    padding-bottom: 50px;
  }
}
.features__heading {
  margin-bottom: 20px;
}
@media (min-width: 660px) {
  .features__heading {
    margin: 0 auto;
    padding: 0;
    line-height: 1.2;
  }
}
@media (min-width: 960px) {
  .features__heading {
    font-size: 3.125rem;
  }
}
.features__heading:last-child {
  max-width: 580px;
  margin: auto;
}
.features__items {
  padding-top: 50px;
  background: #f2f2f2 url("../img/triangle-white.svg") center top no-repeat;
  background-size: 100% 100px;
}
@media (min-width: 660px) {
  .features__items {
    text-align: left;
  }
}
.features__items-container {
  width: 87.5%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 52px;
}
@media (min-width: 660px) {
  .features__items-container {
    width: 88.5714285%;
  }
}
@media (min-width: 960px) {
  .features__items-container {
    width: 97.9166666%;
  }
}
@media (min-width: 660px) {
  .features__items-container {
    width: 320px;
    margin-right: 4.8%;
    padding-top: 58px;
  }
}
@media (min-width: 960px) {
  .features__items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97.9166666%;
    margin: auto;
  }
}
.features-item {
  position: relative;
  padding: 10px 0 7px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
@media (min-width: 660px) {
  .features-item {
    margin-bottom: 15px;
    padding-top: 0;
  }
}
@media (min-width: 960px) {
  .features-item {
    width: 300px;
    padding-top: 293px;
    text-align: center;
  }
}
.features-item:last-child {
  padding-bottom: 0;
  margin-bottom: -3px;
}
@media (min-width: 660px) {
  .features-item:last-child {
    margin-bottom: 0;
    padding-bottom: 28px;
  }
}
@media (min-width: 960px) {
  .features-item:last-child {
    padding: 293px 0 0;
  }
}
.features-item__title {
  margin-top: 15px;
  margin-bottom: 0;
}
@media (min-width: 660px) {
  .features-item__title {
    margin-top: 0;
  }
}
@media (min-width: 960px) {
  .features-item__title {
    width: 230px;
    margin: 0 auto 20px;
    font-size: 1.875rem;
    line-height: 1.1;
  }
}
.features-item__text {
  margin-top: 10px;
  margin-bottom: 0;
}
@media (min-width: 660px) {
  .features-item__text {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 0.875rem;
    line-height: 1.7;
  }
}
@media (min-width: 960px) {
  .features-item__text {
    width: 245px;
    margin: 10px auto 15px;
    font-size: 1.125rem;
  }
}
.features-item__image {
  width: 157px;
  height: 278px;
  margin: 46px auto 0;
  background-image: url("../img/iphone-screen-mobile-3@1x.png"), url("../img/iphone-case-mobile@1x.png");
  background-position: center bottom, center bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 142px auto, 157px auto;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .features-item__image {
    background-image: url("../img/iphone-screen-mobile-3@2x.png"), url("../img/iphone-case-mobile@2x.png");
  }
}
@media (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .features-item__image {
    background-image: url("../img/iphone-screen-mobile-3@3x.png"), url("../img/iphone-case-mobile@3x.png");
  }
}
@media (min-width: 660px) {
  .features-item__image {
    position: absolute;
    bottom: 0;
    left: -307px;
    width: 268px;
    height: 481px;
    background-image: url("../img/iphone-screen-tablet-3@1x.png");
    background-size: 268px auto;
  }
}
@media (min-width: 660px) and (min-resolution: 240dpi), (min-width: 660px) and (min-resolution: 2.5dppx) {
  .features-item__image {
    background-image: url("../img/iphone-screen-tablet-3@2x.png");
  }
}
@media (min-width: 960px) {
  .features-item__image {
    position: absolute;
    top: -108px;
    left: 8px;
    width: 292px;
    height: 302px;
    background-size: 292px auto;
  }
}
.features-item__image_1,
.features-item__image_2 {
  display: none;
}
@media (min-width: 960px) {
  .features-item__image_1,
  .features-item__image_2 {
    display: block;
  }
}
@media (min-width: 960px) {
  .features-item__image_1 {
    background-image: url("../img/iphone-screen-desktop-1@1x.png");
  }
  .features-item__image_2 {
    background-image: url("../img/iphone-screen-desktop-2@1x.png");
  }
  .features-item__image_3 {
    background-image: url("../img/iphone-screen-desktop-3@1x.png");
  }
}
@media (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
  .features-item__image_1 {
    background-image: url("../img/iphone-screen-desktop-1@2x.png");
  }
}
@media (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
  .features-item__image_2 {
    background-image: url("../img/iphone-screen-desktop-2@2x.png");
  }
}
@media (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
  .features-item__image_3 {
    background-image: url("../img/iphone-screen-desktop-3@2x.png");
  }
}
.proof {
  display: none;
  font-size: 0.875rem;
  line-height: 1.6;
  background: #ffffff;
  text-align: left;
}
@media (min-width: 660px) {
  .proof {
    display: block;
  }
}
@media (min-width: 960px) {
  .proof {
    font-size: 1.125rem;
    background: #f2f2f2;
  }
}
.proof__container {
  width: 87.5%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 55px 0 20px;
}
@media (min-width: 660px) {
  .proof__container {
    width: 88.5714285%;
  }
}
@media (min-width: 960px) {
  .proof__container {
    width: 97.9166666%;
  }
}
@media (min-width: 960px) {
  .proof__container {
    padding: 30px 0 65px;
  }
}
@media (min-width: 960px) {
  .proof__content {
    width: 600px;
    padding-left: 40px;
  }
}
.proof__title {
  width: 170px;
  margin-top: -5px;
  margin-bottom: 15px;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 960px) {
  .proof__title {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 23px;
    font-size: 1.875rem;
  }
}
.proof__text {
  margin-bottom: 17px;
}
@media (min-width: 960px) {
  .proof__text {
    margin-bottom: 30px;
    line-height: 1.7;
  }
}
.proof__link {
  font-weight: 400;
  color: #d22856;
  text-decoration: underline;
}
.proof__link:hover {
  color: #283645;
  text-decoration: underline;
}
.proof__link:active {
  color: rgba(40, 54, 69, 0.3);
}
.timer {
  position: relative;
  width: 262px;
  height: 302px;
  margin-right: 47px;
  z-index: 20;
}
@media (min-width: 960px) {
  .timer {
    margin-right: 30px;
    width: 298px;
    height: 345px;
  }
}
.timer::before {
  content: "24";
  position: absolute;
  top: 64px;
  left: 24px;
  z-index: 100;
  width: 192px;
  height: 192px;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 104.6px;
  font-weight: 700;
  line-height: 192px;
  text-align: center;
  color: #d22856;
  border: 11px solid #d22856;
  border-radius: 50%;
  background-color: #ffffff;
}
@media (min-width: 660px) {
  .timer__color {
    fill: #eeeeee;
  }
}
@media (min-width: 960px) {
  .timer__color {
    fill: #dedede;
  }
}
.reviews {
  position: relative;
}
@media (min-width: 960px) {
  .reviews {
    padding-top: 130px;
    background: #ffffff url("../img/quotes.svg") center 75px no-repeat;
  }
}
.reviews__container {
  width: 87.5%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  min-height: 300px;
  margin-top: 28px;
  overflow: hidden;
}
@media (min-width: 660px) {
  .reviews__container {
    width: 88.5714285%;
  }
}
@media (min-width: 960px) {
  .reviews__container {
    width: 97.9166666%;
  }
}
@media (min-width: 660px) {
  .reviews__container {
    width: 70%;
    padding-top: 50px;
  }
}
@media (min-width: 960px) {
  .reviews__container {
    width: 70%;
    padding-bottom: 8px;
  }
}
.reviews__list {
  position: relative;
  width: 300%;
  text-align: left;
  transition: left .6s;
  font-size: 0;
}
.reviews-item {
  margin-bottom: 27px;
  display: inline-block;
  width: 30%;
  margin-left: 1.66%;
  margin-right: 1.66%;
  box-sizing: border-box;
  text-align: center;
}
.reviews-item__title {
  font-size: 1.125rem;
  font-weight: 700;
}
@media (min-width: 660px) {
  .reviews-item__title {
    font-size: 1.25rem;
  }
}
@media (min-width: 960px) {
  .reviews-item__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 660px) {
  .reviews-item__title_upper {
    display: none;
  }
}
.reviews-item__title_lower {
  display: none;
}
@media (min-width: 660px) {
  .reviews-item__title_lower {
    display: block;
    margin-top: 32px;
    margin-bottom: 0;
  }
}
.reviews-item__text {
  font-size: 1.125rem;
  line-height: 2.1;
}
@media (min-width: 660px) {
  .reviews-item__text {
    line-height: 1.6;
  }
}
.reviews-item__info {
  display: none;
  font-size: 0.875rem;
}
@media (min-width: 660px) {
  .reviews-item__info {
    display: block;
    margin-top: 5px;
  }
}
@media (min-width: 960px) {
  .reviews-item__info {
    font-size: 1.125rem;
  }
}
.reviews__btn {
  position: absolute;
  top: 50%;
  display: none;
}
@media (min-width: 960px) {
  .reviews__btn {
    display: block;
  }
}
.reviews__btn_prev {
  left: 5%;
}
.reviews__btn_next {
  right: 5%;
}
.reviews__btn:hover .control-color {
  fill: #7e868f;
}
.reviews__btn:active .control-color {
  opacity: 0.3;
}
.switches {
  margin: 0 auto;
  font-size: 0;
}
@media (min-width: 960px) {
  .switches_reviews {
    display: none;
  }
}
@media (min-width: 660px) {
  .switches_price {
    display: none;
  }
}
.switches__btn,
.switches_price__btn {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  margin-right: 15px;
  background-color: #bec2c7;
  border-radius: 50%;
  cursor: pointer;
}
.switches__btn:last-child,
.switches_price__btn:last-child {
  margin-right: 0;
}
.switches__btn:hover,
.switches_price__btn:hover {
  background-color: #7e868f;
}
.switches__btn_active,
.switches_price__btn_active {
  border: 3px solid #283645;
  background-color: #ffffff;
}
.price {
  padding-top: 90px;
  padding-bottom: 43px;
  text-transform: uppercase;
  overflow: hidden;
  background: #f2f2f2 url("../img/triangle-white.svg") center top no-repeat;
  background-size: 100% 100px;
}
@media (min-width: 960px) {
  .price {
    padding-top: 114px;
  }
}
.price-table {
  width: 87.5%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 845px;
  margin: 48px auto 34px;
  border-collapse: collapse;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 660px) {
  .price-table {
    width: 88.5714285%;
  }
}
@media (min-width: 960px) {
  .price-table {
    width: 97.9166666%;
  }
}
@media (min-width: 660px) {
  .price-table {
    position: static;
    margin: 36px auto 26px;
    width: 88.5714285%;
    transform: none;
  }
}
@media (min-width: 960px) {
  .price-table {
    width: 97.9166666%;
  }
}
.price-table__header {
  position: relative;
  width: 25%;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #283645;
  color: #ffffff;
  border: 2px solid #e5e5e5;
}
@media (min-width: 660px) {
  .price-table__header {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media (min-width: 960px) {
  .price-table__header {
    padding-top: 11px;
    padding-bottom: 11px;
  }
}
.price-table__title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2;
}
.price-table__cost {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1;
}
@media (min-width: 660px) {
  .price-table__cost {
    font-size: 1.125rem;
    line-height: 0.8;
  }
}
@media (min-width: 960px) {
  .price-table__cost {
    font-size: 1.5rem;
    line-height: 1;
  }
}
.price-table__flag {
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: 10;
  width: 72px;
  height: 72px;
}
.price-table__flag_hit {
  background: url("../img/flag_hit.png") no-repeat 0 0;
}
.price-table__service {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 25px;
  font-size: 0.875rem;
  text-align: left;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 89% 50%;
  border: 2px solid #e5e5e5;
}
@media (min-width: 660px) {
  .price-table__service {
    background-position: 50% 50%;
    padding-top: 11px;
    padding-left: 15px;
    padding-bottom: 11px;
  }
}
@media (min-width: 660px) {
  .price-table__service {
    background-position: 50% 50%;
    padding-top: 15px;
    padding-left: 19px;
    padding-bottom: 15px;
  }
}
.price-table__service_yes {
  background-image: url("../img/icon-yes.svg");
}
.price-table__service_no {
  background-image: url("../img/icon-no.svg");
}
.price-table__header_empty {
  display: none;
}
@media (min-width: 660px) {
  .price-table__header_empty {
    display: block;
    opacity: 0;
    border: none;
  }
}
.price-table__service_tablet {
  display: none;
  background: none;
}
@media (min-width: 660px) {
  .price-table__service_tablet {
    display: table-cell;
    background-color: #ffffff;
    font-size: 0.875rem;
    text-transform: none;
  }
}
@media (min-width: 960px) {
  .price-table__service_tablet {
    font-size: 1.125rem;
  }
}
@media (min-width: 660px) {
  .service-mobile {
    display: none;
  }
}
.contacts {
  position: relative;
}
.contacts__container {
  width: 87.5%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 22px;
  padding-bottom: 15px;
}
@media (min-width: 660px) {
  .contacts__container {
    width: 88.5714285%;
  }
}
@media (min-width: 960px) {
  .contacts__container {
    width: 97.9166666%;
  }
}
@media (min-width: 660px) {
  .contacts__container {
    padding-top: 45px;
    padding-bottom: 0;
  }
}
@media (min-width: 960px) {
  .contacts__container {
    padding-top: 93px;
  }
}
.contacts__heading {
  margin-bottom: 24px;
}
@media (min-width: 660px) {
  .contacts__heading {
    width: 500px;
    margin: 0 auto 35px;
  }
}
@media (min-width: 960px) {
  .contacts__heading {
    margin-bottom: 47px;
    font-size: 3.125rem;
  }
}
@media (min-width: 660px) {
  .contacts__items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
.contacts-item {
  margin-bottom: 18px;
  line-height: 1.4;
}
@media (min-width: 660px) {
  .contacts-item {
    width: 280px;
    margin-bottom: 36px;
  }
}
@media (min-width: 960px) {
  .contacts-item {
    margin-bottom: 0;
  }
}
@media (min-width: 660px) {
  .contacts-item:last-child {
    margin-bottom: 9px;
  }
}
@media (min-width: 960px) {
  .contacts-item:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 960px) {
  .contacts-item_mail {
    order: 1;
  }
}
.contacts-item__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: 700;
}
@media (min-width: 960px) {
  .contacts-item__title {
    margin-bottom: 20px;
  }
}
.contacts-item__contact {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 300;
  color: #d22856;
}
@media (min-width: 960px) {
  .contacts-item__contact {
    margin-bottom: 0;
  }
}
.contacts-item__contact_mail {
  font-weight: 400;
  color: #d22856;
  text-decoration: underline;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
}
.contacts-item__contact_mail:hover {
  color: #283645;
  text-decoration: underline;
}
.contacts-item__contact_mail:active {
  color: rgba(40, 54, 69, 0.3);
}
.map {
  position: relative;
  width: 100%;
  height: 200px;
  background-image: url("../img/bg-map-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 70%;
  background-size: cover;
  border: 0;
  overflow: hidden;
}
@media (min-width: 660px) {
  .map {
    height: 380px;
    background-image: url("../img/bg-map-tablet.jpg");
  }
}
@media (min-width: 960px) {
  .map {
    height: 525px;
  }
}
.map::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 50px;
  background: url("../img/bg-white-mask.svg") no-repeat center top / 100% 50px;
  z-index: 5;
}
@media (min-width: 660px) {
  .map::before {
    height: 80px;
    background-size: 100% 80px;
  }
}
@media (min-width: 960px) {
  .map::before {
    height: 150px;
    background-size: 100% 150px;
  }
}
.footer_main {
  display: none;
}
@media (min-width: 660px) {
  .footer_main {
    display: block;
  }
}
.footer__container {
  width: 87.5%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 660px) {
  .footer__container {
    width: 88.5714285%;
  }
}
@media (min-width: 960px) {
  .footer__container {
    width: 97.9166666%;
  }
}
@media (min-width: 660px) {
  .footer__container {
    width: 88.5714285%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 33px;
    padding-bottom: 33px;
  }
}
@media (min-width: 960px) {
  .footer__container {
    width: 97.9166666%;
  }
}
.footer__logo {
  display: block;
  margin: 40px auto 34px;
}
@media (min-width: 660px) {
  .footer__logo {
    margin: auto 0;
  }
}
.logo-blue_tablet {
  width: 146px;
  height: 40px;
}
@media all and (min-width: 960px) {
  .logo-blue_tablet {
    display: none;
  }
}
.logo-blue_desktop {
  display: none;
  width: 146px;
  height: 40px;
}
@media all and (min-width: 960px) {
  .logo-blue_desktop {
    display: inline;
  }
}
.footer__logo:hover .logo-blue__text {
  fill: #d22856;
}
.footer__logo:active .logo-blue__text {
  fill: #283645;
}
.footer__logo:active .logo-blue {
  opacity: 0.3;
}
.social-links {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 27px;
}
@media (min-width: 660px) {
  .social-links {
    width: 200px;
    margin: auto;
  }
}
.social-link {
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
  width: 45px;
  height: 45px;
  font-size: 0;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 660px) {
  .social-link {
    margin-right: 8px;
  }
}
.social-link:last-child {
  margin-right: 0;
}
.social-link:hover {
  border-color: #283645;
}
.social-link:active {
  opacity: 0.3;
}
.social-link_twitter {
  background-image: url("../img/twitter.svg");
}
.social-link_facebook {
  background-image: url("../img/facebook.svg");
}
.social-link_youtube {
  background-image: url("../img/youtube.svg");
}
.copyright {
  margin-bottom: 40px;
}
@media (min-width: 660px) {
  .copyright {
    width: 140px;
    margin-bottom: 0;
    margin-right: 0;
    font-size: 0.875rem;
  }
}
@media (min-width: 960px) {
  .copyright {
    width: 160px;
    font-size: 1.125rem;
  }
}
.copyright__text {
  display: inline-block;
  vertical-align: middle;
}
.copyright__link {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
}
@media (min-width: 960px) {
  .copyright__link {
    margin-left: 9px;
  }
}
.copyright__logo {
  fill: #d22856;
}
.copyright__link:hover .copyright__logo {
  fill: #283645;
}
.copyright__link:active .copyright__logo {
  opacity: 0.3;
}
.blog {
  width: 87.5%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 14px;
}
@media (min-width: 660px) {
  .blog {
    width: 88.5714285%;
  }
}
@media (min-width: 960px) {
  .blog {
    width: 97.9166666%;
  }
}
@media (min-width: 660px) {
  .blog {
    width: 71.5%;
    padding-top: 54px;
  }
}
@media (min-width: 960px) {
  .blog {
    max-width: 820px;
    padding-top: 70px;
  }
}
.post-preview {
  position: relative;
  padding: 20px 0 15px;
  text-align: left;
  line-height: 1.928;
  border-bottom: 1px solid #e5e5e5;
}
.post-preview:last-of-type {
  border: none;
}
@media all and (min-width: 660px) {
  .post-preview {
    border-bottom: 1px dotted #e5e5e5;
  }
}
.post-preview__link {
  display: block;
  margin-bottom: 3px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.6;
  color: #283645;
}
@media all and (min-width: 660px) {
  .post-preview__link {
    margin-bottom: 10px;
    font-size: 1.6875rem;
    line-height: 1.1;
  }
}
.post-preview__link:hover {
  text-decoration: underline;
}
.post-preview__link:active {
  opacity: 0.3;
}
.post-preview__description {
  font-size: 0.875rem;
  color: #283645;
}
@media all and (min-width: 660px) {
  .post-preview__description {
    font-size: 1.125rem;
    line-height: 1.6;
  }
}
.post-preview__title {
  margin-top: 34px;
  margin-bottom: 11px;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.2;
  color: #283645;
}
@media all and (min-width: 660px) {
  .post-preview__title {
    font-size: 3.125rem;
  }
}
@media all and (min-width: 660px) {
  .post-preview_small {
    padding: 40px 0 42px;
  }
}
.post-preview_small::before {
  content: "";
  display: none;
  position: absolute;
  top: 45px;
  left: -57px;
  width: 28px;
  height: 26px;
  background: url("../img/blog-post-icon.svg") center no-repeat;
}
@media all and (min-width: 660px) {
  .post-preview_small::before {
    display: block;
  }
}
.post-preview_large {
  position: relative;
  padding: 0 0 14px;
  text-align: center;
  line-height: 1.6;
}
@media all and (min-width: 660px) {
  .post-preview_large {
    border-bottom: none;
  }
}
@media all and (min-width: 960px) {
  .post-preview_large {
    padding-top: 20px;
  }
}
@media all and (min-width: 660px) {
  .post-preview_large::after {
    content: "";
    display: block;
    position: relative;
    top: -10px;
    border-bottom: 1px dotted #e5e5e5;
    z-index: -5;
  }
}
.post-preview__description_large {
  font-size: 16px;
  line-height: 1.7;
}
@media all and (min-width: 660px) {
  .post-preview__description_large {
    margin: 16px auto 37px;
    font-size: 1.5rem;
    line-height: 1.6;
  }
}
.pagination {
  width: 87.5%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 26px;
  margin-bottom: 49px;
  margin-left: 0;
}
@media (min-width: 660px) {
  .pagination {
    width: 88.5714285%;
  }
}
@media (min-width: 960px) {
  .pagination {
    width: 97.9166666%;
  }
}
@media all and (min-width: 660px) {
  .pagination_numeral {
    margin-top: 10px;
    margin-bottom: 38px;
  }
}
@media all and (min-width: 960px) {
  .pagination_numeral {
    margin-top: 42px;
    margin-bottom: 61px;
  }
}
.pagination_numeral::before {
  display: none;
  content: "Стр.";
  position: absolute;
  top: 17px;
  left: -64px;
  width: 45px;
  height: 25px;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #283645;
}
@media all and (min-width: 660px) {
  .pagination_numeral::before {
    display: block;
  }
}
.pagination_textual {
  justify-content: space-between;
  margin-top: 38px;
  margin-bottom: 0;
}
@media all and (min-width: 660px) {
  .pagination_textual {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
  }
}
@media all and (min-width: 960px) {
  .pagination_textual {
    width: 97.916%;
    margin-top: 55px;
    margin-bottom: 30px;
  }
}
.pagination__link {
  box-sizing: border-box;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 15px 25px;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  color: #283645;
  background: #ffffff;
}
.pagination__link:last-child {
  margin-right: 0;
}
.pagination__link:not(.pagination__link_active):hover {
  border-color: #283645;
}
.pagination__link:not(.pagination__link_active):active {
  opacity: 0.3;
}
.pagination__link_active {
  border-color: #d22856;
}
.pagination__link_textual {
  width: 46%;
  margin-right: 0;
  margin-bottom: 17px;
  padding: 15px auto;
}
@media (min-width: 660px) {
  .pagination__link_textual {
    width: 22.5%;
  }
}
@media (min-width: 960px) {
  .pagination__link_textual {
    width: 32%;
  }
}
.pagination__link_large {
  width: 100%;
}
@media (min-width: 660px) {
  .pagination__link_large {
    width: 48.5%;
  }
}
@media (min-width: 960px) {
  .pagination__link_large {
    width: 33.537%;
  }
}
@media (min-width: 660px) {
  .pagination__link_next {
    order: 1;
  }
}
.pagination__link_textual:hover,
.pagination__link_large:hover {
  border-color: #283645;
}
.post {
  width: 87.5%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 43px;
}
@media (min-width: 660px) {
  .post {
    width: 88.5714285%;
  }
}
@media (min-width: 960px) {
  .post {
    width: 97.9166666%;
  }
}
@media (min-width: 660px) {
  .post {
    padding-top: 45px;
    margin-bottom: 0;
  }
}
@media (min-width: 960px) {
  .post {
    max-width: 820px;
  }
}
.post-rubric {
  padding-top: 10px;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.9;
}
@media (min-width: 660px) {
  .post-rubric {
    margin-bottom: 27px;
    font-size: 1.125rem;
  }
}
.post-rubric__subtitle {
  margin-bottom: 20px;
  font-size: 1.125rem;
  font-weight: 700;
  color: #283645;
  text-transform: uppercase;
}
@media (min-width: 660px) {
  .post-rubric__subtitle {
    margin-top: 10px;
    margin-bottom: 14px;
    font-size: 1.5rem;
  }
}
.post-rubric__text {
  margin-bottom: 6px;
}
@media (min-width: 660px) {
  .post-rubric__text {
    line-height: 1.75;
  }
}
@media (min-width: 960px) {
  .post-rubric__text {
    width: 825px;
  }
}
.base-list {
  text-align: left;
}
@media all and (min-width: 660px) {
  .base-list {
    margin-top: -4px;
    margin-bottom: 57px;
  }
}
.base-list__item {
  margin: 27px 0;
  position: relative;
  padding-left: 21px;
}
@media all and (min-width: 660px) {
  .base-list__item {
    padding-left: 33px;
  }
}
.base-list__item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  display: block;
  width: 6px;
  height: 6px;
  background-color: #d22856;
  border-radius: 100%;
}
@media all and (min-width: 660px) {
  .base-list__item::before {
    top: 15px;
  }
}
.base-blockquote {
  padding-left: 19px;
  text-align: left;
  border-left: 2px solid #d22856;
}
@media all and (min-width: 660px) {
  .base-blockquote {
    padding-left: 33px;
  }
}
.base-blockquote blockquote {
  margin: 32px 0 5px;
}
@media all and (min-width: 660px) {
  .base-blockquote blockquote {
    margin: 28px 0 0;
    line-height: 1.7;
  }
}
.base-blockquote cite {
  font-style: italic;
  color: #8a8a8a;
}
.form {
  font-size: 0.875rem;
  line-height: 2.142857143;
  color: #283645;
}
@media (min-width: 660px) {
  .form {
    margin-bottom: 35px;
  }
}
@media (min-width: 960px) {
  .form {
    margin-bottom: 0;
  }
}
.form .form__container {
  width: 87.5%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 660px) {
  .form .form__container {
    width: 88.5714285%;
  }
}
@media (min-width: 960px) {
  .form .form__container {
    width: 97.9166666%;
  }
}
.form .form__container::after {
  content: "";
  display: block;
  clear: both;
}
@media (min-width: 660px) {
  .form .form__container {
    width: 88.5714285%;
    padding: 0;
  }
}
@media (min-width: 960px) {
  .form .form__container {
    width: 97.9166666%;
  }
}
.form__description {
  margin-top: 45px;
}
@media (min-width: 660px) {
  .form__description {
    width: 85%;
    margin: 95px auto 12px;
    font-size: 1.125rem;
    line-height: 1.6;
  }
}
@media (min-width: 660px) {
  .form__description {
    margin-bottom: 42px;
  }
}
.form__description_full {
  display: none;
}
@media (min-width: 660px) {
  .form__description_full {
    display: inline;
  }
}
.form__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 23px;
  padding: 15px 3px 15px 20px;
  border: 2px solid #e7e7e7;
  border-radius: 2px;
  outline: none;
  font-size: 1.125rem;
  line-height: 1.6;
}
.form__input_radio,
.form__input_checkbox,
.form__input_file {
  display: none;
}
.form__input[type="text"]:hover,
.form__input[type="date"]:hover {
  border-color: #283645;
}
.form__input[type="text"]:focus,
.form__input[type="date"]:focus {
  border-color: #d22856;
}
.form__input_radio:checked ~ .user-platform__title::after {
  position: absolute;
  top: 5px;
  left: 12px;
  width: 15px;
  height: 15px;
  content: "";
  background: #d22856;
  border-radius: 50%;
}
.form__input_checkbox:checked ~ .achievement__item::after {
  position: absolute;
  top: 7px;
  left: 9px;
  width: 26px;
  height: 20px;
  content: "";
  background: url("../img/icon_checkbox.png") 0 0 no-repeat;
}
.form__input_number {
  flex-grow: 1;
  min-width: 70px;
  margin-bottom: 0;
  border-left-style: none;
  border-right-style: none;
  line-height: 30px;
  text-align: center;
}
.form__input_leaving-date {
  background: #f2f2f2;
}
@media (min-width: 660px) {
  .form__input_companions {
    width: 300px;
  }
}
.form__group {
  box-sizing: border-box;
}
@media (min-width: 960px) {
  .form__group {
    width: 32%;
  }
}
@media (min-width: 960px) {
  .form__group_companions {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-right: 20px;
  }
}
@media (min-width: 960px) {
  .form__group_achievement {
    width: auto;
  }
}
.form__fieldset {
  padding: 0;
  box-sizing: border-box;
  border: none;
}
@media (min-width: 660px) {
  .form__fieldset {
    margin: 0;
    padding: 30px 58px;
    border: 2px solid #e7e7e7;
    border-radius: 2px;
  }
}
@media (min-width: 660px) {
  .form__fieldset_companions {
    margin-bottom: 25px;
    padding-bottom: 35px;
  }
}
@media (min-width: 660px) {
  .form__fieldset_date {
    padding-top: 33px;
    padding-bottom: 5px;
    text-align: left;
    font-size: 0;
  }
}
@media (min-width: 660px) {
  .form__group_date {
    display: inline-block;
    width: 47.5%;
    margin-right: 4.15%;
    margin-bottom: 13px;
    text-align: left;
    font-size: 0.875rem;
  }
}
@media (min-width: 960px) {
  .form__group_date {
    width: 29.3%;
    margin-right: 5.7%;
    margin-bottom: 0;
  }
}
@media (min-width: 660px) {
  .form__group_date:nth-of-type(2) {
    margin-right: 0;
  }
}
@media (min-width: 960px) {
  .form__group_date:nth-of-type(2) {
    margin-right: 5.7%;
  }
}
@media (min-width: 960px) {
  .form__group_date:last-of-type {
    margin-right: 0;
  }
}
.form__title {
  display: block;
  margin-bottom: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #d22856;
}
.form__title_name {
  margin-left: 23px;
  text-align: left;
}
.form__title_general {
  margin-top: 16px;
  margin-bottom: 42px;
  text-align: center;
}
.form__title_date {
  margin-top: 12px;
  margin-bottom: 18px;
}
@media (min-width: 660px) {
  .form__title_date {
    margin-top: 17px;
    margin-left: 20px;
  }
}
@media (min-width: 960px) {
  .form__title_date {
    margin-bottom: 12px;
  }
}
.form__title_companions {
  margin-top: 3px;
  margin-bottom: 33px;
}
.form__title_companion-info {
  margin-left: 22px;
  text-align: left;
}
.form__title_photo {
  margin-top: 7px;
  margin-bottom: 32px;
}
.form__title_achievement {
  margin-top: 15px;
  margin-bottom: 43px;
}
@media (min-width: 660px) {
  .form__title_legend {
    padding-right: 20px;
    padding-left: 20px;
    margin: auto;
    text-align: center;
    font-size: 0.875rem;
  }
}
.form-section {
  box-sizing: border-box;
  padding-top: 32px;
  padding-bottom: 25px;
}
@media (min-width: 660px) {
  .form-section {
    padding-bottom: 0;
  }
}
.form-section_white {
  background-color: #ffffff;
}
.form-section_grey {
  background-color: #f2f2f2;
}
@media (min-width: 660px) {
  .form-section_grey {
    background-color: #ffffff;
  }
}
.form-section_photo {
  padding-bottom: 7px;
}
@media (min-width: 660px) {
  .form-section_photo {
    margin-top: 35px;
    margin-bottom: 58px;
  }
}
@media (min-width: 960px) {
  .form-section_photo {
    margin-top: 25px;
  }
}
.form-section_date {
  padding-bottom: 29px;
}
@media (min-width: 660px) {
  .form-section_date {
    margin-top: 20px;
  }
}
@media (min-width: 960px) {
  .form-section_date {
    margin-top: 25px;
  }
}
@media (min-width: 960px) {
  .form-section_name,
  .user-platform,
  .achievement {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
.user-platform {
  margin-top: 24px;
  text-align: left;
}
@media (min-width: 960px) {
  .user-platform {
    margin-top: 17px;
  }
}
.user-platform__item {
  margin-bottom: 35px;
}
@media (min-width: 960px) {
  .user-platform__item {
    width: 24%;
    margin-bottom: 24px;
  }
}
.user-platform__item:last-child {
  margin-bottom: 20px;
}
.user-platform__title {
  position: relative;
  font-size: 1.125rem;
  cursor: pointer;
}
.user-platform__title::before {
  display: inline-block;
  vertical-align: top;
  content: "";
  width: 35px;
  height: 35px;
  margin-right: 20px;
  border: 2px solid #e7e7e7;
  border-radius: 50%;
  background: #ffffff;
}
.form__input[type="radio"]:hover ~ .user-platform__title::before {
  border-color: #283645;
}
.form__input[type="radio"]:active ~ .user-platform__title::before {
  border-color: #d22856;
}
.form__input[type="checkbox"]:hover ~ .achievement__title::before {
  border-color: #283645;
}
.form__input[type="checkbox"]:active ~ .achievement__title::before {
  border-color: #d22856;
}
.field-range {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.field-range__control {
  box-sizing: border-box;
  padding: 0 15px;
  border: 2px solid #e7e7e7;
  font-size: 57px;
  line-height: 57px;
  color: #283645;
  background: #ffffff;
}
.field-range__control:hover {
  border-color: #283645;
}
.field-range__control:active {
  border-color: #283645;
  color: #ffffff;
  background: #283645;
}
@media (min-width: 660px) {
  .field-range_companions {
    width: 255px;
  }
}
@media (min-width: 660px) {
  .field-range_duration,
  .form__input_date,
  .form__input_leaving-date {
    margin-bottom: 0;
  }
}
.form-section_grey .form__input_number {
  background: #f2f2f2;
}
@media (min-width: 660px) {
  .form-section_grey .form__input_number {
    background: #ffffff;
    border: none;
  }
}
.companions {
  margin-top: 48px;
  padding-top: 34px;
  border-top: 2px solid #e7e7e7;
}
@media (min-width: 660px) {
  .companions {
    margin-top: 41px;
  }
}
@media (min-width: 960px) {
  .companions {
    margin-top: 43px;
  }
}
.companion-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 23px;
}
.companion-item:last-child {
  margin-bottom: 0;
}
@media (min-width: 960px) {
  .companion-item {
    margin-bottom: 6px;
  }
}
.companion-info {
  flex-grow: 1;
  position: relative;
}
.companion-info__delete {
  display: none;
  position: absolute;
  top: 51px;
  right: 0;
  color: #283645;
}
@media (min-width: 660px) {
  .companion-info__delete {
    display: block;
  }
}
.companion-info__delete:hover {
  color: #d22856;
  text-decoration: underline;
}
.companion-info__delete:active {
  color: #d22856;
  text-decoration: none;
  opacity: 0.3;
}
@media (min-width: 960px) {
  .companion-info {
    padding-right: 90px;
  }
}
@media (min-width: 660px) {
  .item-number {
    text-align: center;
    margin-right: 20px;
  }
}
.item-number__number {
  box-sizing: border-box;
  margin-bottom: 23px;
  padding: 15px 25px;
  border: 2px solid #e7e7e7;
  border-right: none;
  border-radius: 2px;
  font-size: 1.125rem;
  line-height: 1.6;
  background: #f2f2f2;
}
@media (min-width: 660px) {
  .item-number__number {
    border-right: 2px solid #e7e7e7;
  }
}
.achievement {
  margin-bottom: -18px;
  text-align: left;
}
.achievement li {
  margin-bottom: 40px;
  font-size: 1.125rem;
}
@media (min-width: 660px) {
  .achievement li {
    margin-top: 10px;
    margin-bottom: 43px;
  }
}
.achievement__item {
  position: relative;
  cursor: pointer;
}
.achievement__item::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 35px;
  height: 35px;
  margin-right: 20px;
  border: 2px solid #e7e7e7;
  background: #ffffff;
}
@media (min-width: 660px) {
  .achievement {
    margin-bottom: -35px;
  }
}
@media (min-width: 960px) {
  .achievement {
    padding-bottom: 17px;
  }
}
.form-correction {
  margin-bottom: 52px;
  text-transform: uppercase;
}
.form-correction__symbol {
  font-size: 1.125rem;
  color: #d22856;
}
.form-correction__full-text {
  display: none;
}
@media (min-width: 960px) {
  .form-correction__full-text {
    display: inline;
  }
}
@media (min-width: 660px) {
  .form-correction {
    float: right;
    margin-top: 15px;
    margin-bottom: 0;
  }
}
.uploaded-photo {
  width: 100%;
  padding-top: 37px;
  text-align: left;
  font-size: 0;
  border-top: 2px solid #e7e7e7;
}
@media (min-width: 660px) {
  .uploaded-photo {
    margin-bottom: -35px;
    padding-top: 67px;
  }
}
@media (min-width: 960px) {
  .uploaded-photo {
    margin-bottom: 0;
  }
}
.uploaded-photo__preview {
  display: inline-block;
  vertical-align: top;
  width: 23.57%;
  margin-right: 14.285%;
  margin-bottom: 26px;
  text-align: left;
  font-size: 0.875rem;
}
@media (min-width: 660px) {
  .uploaded-photo__preview {
    width: 24%;
    margin-right: 14%;
    margin-bottom: 52px;
  }
}
@media (min-width: 770px) {
  .uploaded-photo__preview {
    width: 14.3902439%;
    margin-right: 7%;
  }
}
@media (min-width: 960px) {
  .uploaded-photo__preview {
    margin-bottom: 31px;
  }
}
.uploaded-photo__preview:nth-child(3n) {
  margin-right: 0;
}
@media (min-width: 770px) {
  .uploaded-photo__preview:nth-child(3n) {
    margin-right: 7%;
  }
}
@media (min-width: 770px) {
  .uploaded-photo__preview:nth-child(5n) {
    margin-right: 0;
  }
}
.uploaded-photo__delete {
  position: relative;
  display: block;
}
.uploaded-photo__delete::before {
  content: "";
  position: absolute;
  display: block;
  top: -12px;
  right: -15px;
  width: 29px;
  height: 29px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background: #ffffff;
  z-index: 50;
  cursor: pointer;
}
@media (min-width: 660px) {
  .uploaded-photo__delete::before {
    top: -27px;
    right: -23%;
    width: 52px;
    height: 52px;
  }
}
.uploaded-photo__delete::after {
  content: "+";
  position: absolute;
  top: -28px;
  right: -7px;
  font-size: 30px;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  color: #c1c1c1;
  z-index: 70;
  transform: rotate(45deg);
}
@media (min-width: 660px) {
  .uploaded-photo__delete::after {
    top: -62px;
    right: -15%;
    font-size: 60px;
  }
}
.uploaded-photo__caption {
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 1;
  text-align: left;
}
@media (min-width: 660px) {
  .uploaded-photo__caption {
    font-size: 0.875rem;
    margin-top: 5px;
  }
}
.uploaded-photo__delete:hover::before {
  border-color: #283645;
}
.uploaded-photo__delete:hover::after {
  color: #333333;
}
.uploaded-photo__delete:active::before {
  border-color: #283645;
  background: #283645;
}
.uploaded-photo__delete:active::after {
  color: #ffffff;
}
