@font-face {
  font-family: 'Damion';
  src: url('../fonts/DamionRegular.ttf');
}
@font-face {
  font-family: 'Lato Regular';
  src: url('../fonts/LatoRegular.ttf');
}
@font-face {
  font-family: 'Lato Light';
  src: url('../fonts/LatoLight.ttf');
}
@font-face {
  font-family: 'Lato Bold';
  src: url('../fonts/LatoBold.ttf');
}
body {
  font-family: 'Lato Regular';
  background-color: #282828;
}
h1 {
  margin: 0;
  visibility: hidden;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
input[type="text"],
input[type="email"],
textarea {
  font-family: 'Lato Regular';
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  font-family: 'Lato Regular';
  font-size: 16px;
  line-height: 21px;
  color: #7bbdb3;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.fullscreen {
  width: 100%;
  margin: 0 auto;
}
.container {
  width: 71.25%;
  margin: 0 auto;
  box-sizing: border-box;
}
.navigation {
  width: 71.25%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 0 20px;
  box-sizing: border-box;
}
.navigation::after {
  content: "";
  display: block;
  clear: both;
}
.navigation__logo {
  float: left;
  margin: 22px 0 0 0;
  font-family: 'Damion';
  font-size: 50px;
  line-height: 1;
  color: #ffffff;
  cursor: default;
}
.navigation__list {
  float: right;
}
.navigation__list::after {
  content: "";
  display: block;
  clear: both;
}
.navigation__item {
  float: left;
}
.navigation__link {
  display: block;
  padding: 42px 26px 10px 26px;
  font-family: 'Lato Regular';
  font-size: 18px;
  line-height: 1;
  color: #ffffff;
  border: 1px solid transparent;
  border-top: none;
  border-radius: 0 0 6px 6px;
  box-sizing: border-box;
}
.home .navigation__link:hover {
  background-color: #74c7d5;
}
.services .navigation__link:hover {
  background-color: #df5c64;
}
.about .navigation__link:hover {
  background-color: #91778e;
}
.work .navigation__link:hover {
  background-color: #a1ca6c;
}
.contacts .navigation__link:hover {
  background-color: #82c8bd;
}
.about {
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-width: 1500px;
  max-width: 1800px;
  text-align: center;
  color: #ffffff;
  background-color: #665464;
  background-image: url("../img/bg/about_bg.png");
  background-repeat: no-repeat;
  background-position: top;
}
.about__container {
  width: 71.25%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 160px 20px 118px;
}
.team {
  font-size: 0;
}
.team__heading {
  position: relative;
  width: 24.2%;
  margin: 0 auto 70px auto;
  padding: 0 40px;
  font-family: 'Lato Bold';
  font-size: 28px;
  line-height: 58px;
  background-color: #a1ca6c;
  border: 1px solid transparent;
  border-radius: 10px;
  text-transform: uppercase;
}
.team__heading::before {
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  border: 15px solid transparent;
  border-top: 15px solid #a1ca6c;
}
.team-item {
  display: inline-block;
  vertical-align: top;
  width: 23%;
  margin-right: 2.66%;
  padding: 40px 25px;
  background: rgba(89, 73, 87, 0.6);
  border: 1px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
}
.team-item:last-child {
  margin-right: 0;
}
.team-item__photo {
  width: 165px;
  height: 165px;
  margin: 0 auto 10px auto;
  border: 3px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 0 0 5px #a1859e;
  box-sizing: border-box;
  overflow: hidden;
}
.team-item__photo > img {
  width: 157px;
  height: 160px;
}
.team-item__name {
  margin: 0 auto 0 auto;
  font-family: 'Lato Bold';
  font-size: 22px;
  line-height: 58px;
  opacity: 0.5;
  text-transform: uppercase;
}
.team-item__position {
  font-family: 'Lato Regular';
  font-size: 14px;
  color: #a1ca6c;
}
.team-item__social-links {
  margin-top: 15px;
}
.team-item__social-link {
  display: inline-block;
  vertical-align: top;
  margin-right: 8%;
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #a1859e;
  background-repeat: no-repeat;
  background-position: center;
}
.team-item__social-link:last-child {
  margin-right: 0;
}
.team-item__social-link:hover {
  opacity: 0.7;
}
.team-item__social-link_fb {
  background-image: url("../img/icons/facebook.png");
}
.team-item__social-link_tw {
  background-image: url("../img/icons/twitter.png");
}
.team-item__social-link_g {
  background-image: url("../img/icons/g+.png");
}
.team-item__social-link_in {
  background-image: url("../img/icons/lin.png");
}
.team-item:hover .team-item__photo {
  box-shadow: 0 0 0 5px #df5c64;
}
.team-item:hover .team-item__name {
  opacity: 1;
}
.team-item:hover .team-item__position {
  color: #d1766a;
}
.team-item:hover .team-item__social-link_fb {
  background-color: #4f689e;
}
.team-item:hover .team-item__social-link_tw {
  background-color: #74c7d5;
}
.team-item:hover .team-item__social-link_g {
  background-color: #df5c64;
}
.team-item:hover .team-item__social-link_in {
  background-color: #3e61af;
}
.home {
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-width: 1500px;
  max-width: 1800px;
  background-color: #68a097;
  overflow: hidden;
}
.contacts {
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-width: 1500px;
  max-width: 1800px;
  text-align: center;
  color: #ffffff;
  background-color: #75b4aa;
  background-image: url("../img/bg/contacts_bg.png");
  background-repeat: no-repeat;
  background-position: -20% 20%;
}
.contacts__container {
  width: 71.25%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 160px 20px 85px;
}
.contacts__container::after {
  content: "";
  display: block;
  clear: both;
}
.contacts-form {
  float: right;
  width: 49%;
  text-align: left;
}
.contacts-form::after {
  content: "";
  display: block;
  clear: both;
}
.contacts-form__title {
  margin-bottom: 27px;
  font-family: 'Lato Light';
  font-size: 30px;
  line-height: 30px;
}
.contacts-form__input {
  width: 48%;
  padding: 15px 20px;
  font-family: 'Lato Regular';
  font-size: 16px;
  line-height: 21px;
  background-color: #68a097;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.contacts-form__input_name {
  float: left;
  margin: 0 2% 20px 0;
}
.contacts-form__input_email {
  float: right;
  margin: 0 0 20px 0;
}
.contacts-form__question {
  width: 100%;
  height: 150px;
  margin: 0 0 25px 0;
  padding: 15px 20px;
  font-family: 'Lato Regular';
  font-size: 16px;
  line-height: 21px;
  resize: none;
  overflow: hidden;
  background-color: #68a097;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.contacts-form__btn {
  display: block;
  width: 48%;
  margin: 0 auto;
  padding: 14px 0;
  font-family: 'Lato Bold';
  font-size: 26px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #df5c64;
  border: none;
  outline: none;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 4px 0 0 #c8535a;
}
.contacts-form__btn:hover {
  opacity: 0.8;
}
.contacts-data {
  width: 49%;
  float: left;
  text-align: left;
}
.contacts-data::after {
  content: "";
  display: block;
  clear: both;
}
.contacts-data__map {
  float: right;
  width: 48%;
  height: 220px;
  margin: 57px 5.5% 0 0;
  background: url("../img/map.jpg") no-repeat center;
}
.contacts-data__box {
  float: left;
}
.contacts-data__title {
  margin: 0;
  margin-bottom: 27px;
  font-family: 'Lato Light';
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
}
.contacts-data__town {
  margin: 0 0 15px 0;
  font-family: 'Lato Regular';
  font-weight: normal;
  font-size: 20px;
  line-height: 15px;
  opacity: 0.5;
}
.contacts-data__p-box {
  margin-top: 70px;
}
.contacts-data p {
  margin: 0;
  font-family: 'Lato Regular';
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}
.contacts-data__phone span {
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
}
.contacts-data__fax span {
  display: inline-block;
  vertical-align: top;
  margin-left: 46px;
}
.contacts-data__email span {
  display: inline-block;
  vertical-align: top;
  margin-left: 26px;
}
.contacts-data__skype span {
  display: inline-block;
  vertical-align: top;
  margin-left: 28px;
}
.services {
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-width: 1500px;
  max-width: 1800px;
  text-align: center;
  color: #ffffff;
  background-color: #b24a50;
  background-image: url("../img/bg/services_bg.png");
  background-repeat: no-repeat;
  background-position: top;
}
.services__container {
  width: 71.25%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 160px 20px 125px;
}
.capability {
  font-size: 0;
}
.capability-item {
  display: inline-block;
  vertical-align: top;
  width: 23%;
  margin-right: 2.66%;
  padding: 40px 25px;
  background: #c45158;
  border: 1px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
}
.capability-item:last-child {
  margin-right: 0;
}
.capability-item__title {
  margin-top: 12px;
  margin-bottom: 27px;
  font-family: 'Lato Light';
  font-size: 28px;
  line-height: 58px;
  text-transform: uppercase;
}
.capability-item__content {
  margin-bottom: 0;
  font-family: 'Lato Regular';
  font-size: 14px;
  line-height: 20px;
}
.capability-item__icon {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 50%;
  box-shadow: inset 0 0 0 5px #df5c64;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
}
.capability-item__icon_lightball {
  background-image: url('../img/icons/lightball.png');
}
.capability-item__icon_wand {
  background-image: url('../img/icons/wand.png');
}
.capability-item__icon_giars {
  background-image: url('../img/icons/giars.png');
}
.capability-item__icon_rocket {
  background-image: url('../img/icons/rocket.png');
}
.work {
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-width: 1500px;
  max-width: 1800px;
  text-align: center;
  color: #ffffff;
  background-color: #83a457;
  background-image: url("../img/bg/work_bg.png");
  background-repeat: no-repeat;
  background-position: top;
}
.work__container {
  width: 71.25%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 160px 20px 100px;
}
.portfolio-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
  border: 1px solid #94b963;
  border-left-color: transparent;
  border-right-color: transparent;
  box-sizing: border-box;
}
.portfolio-nav__title {
  margin: 38px 20px;
  font-family: 'Lato Bold';
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}
.portfolio-nav__link {
  margin-right: 35px;
  padding: 10px;
  font-family: 'Lato Bold';
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border-radius: 5px;
}
.portfolio-nav__link:last-child {
  margin-right: 10px;
}
.portfolio-nav__link:hover {
  background-color: #f5c149;
}
.portfolio-body {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
.portfolio-item {
  margin-bottom: 2.66%;
  width: 23%;
}
.portfolio-item__link {
  position: relative;
  display: block;
  overflow: hidden;
  border: 1px solid transparent;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  box-sizing: border-box;
}
.portfolio-item__image {
  display: block;
  width: 100%;
  height: 200px;
}
.portfolio-item__title {
  position: relative;
  margin: 0 auto;
  font-family: 'Lato Regular';
  font-size: 14px;
  line-height: 58px;
  color: #727272;
  text-transform: uppercase;
  background-color: #eeeeee;
  border: 1px solid transparent;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-sizing: border-box;
}
.portfolio-item__title::before {
  position: absolute;
  top: -34px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  border: 17px solid transparent;
  border-bottom: 17px solid #eeeeee;
}
.portfolio-item__plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border: 2px solid #fefafb;
  border-radius: 50%;
  visibility: hidden;
}
.portfolio-item__plus::before,
.portfolio-item__plus::after {
  content: "";
  display: block;
  width: 2px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fefafb;
}
.portfolio-item__plus::before {
  transform: translate(-50%, -50%) rotate(90deg);
}
.portfolio-item__plus::after {
  transform: translate(-50%, -50%);
}
.portfolio-item__link:hover .portfolio-item__image {
  opacity: 0.5;
}
.portfolio-item__link:hover .portfolio-item__plus {
  visibility: visible;
}
.slider__box {
  height: 1000px;
}
.slider__box_1 {
  background-image: url("../img/bg/home_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 53.5%;
  background: rgba(233, 236, 233, 0.3);
  border: 1px solid transparent;
  border-radius: 10px;
}
.slider__content::after {
  content: "";
  display: block;
  clear: both;
}
.slider__content span {
  display: block;
  line-height: 0.8;
  color: #74c7d5;
  text-align: right;
  text-transform: uppercase;
  cursor: default;
}
.span-wrapper {
  float: left;
  margin-right: 7px;
}
@media (max-width: 1599px) {
  .span-wrapper {
    float: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.span-g {
  font-family: 'Lato Light';
  font-size: 70px;
}
.span-c {
  margin: 12px 0;
  font-family: 'Lato Light';
  font-size: 50px;
  text-transform: lowercase;
}
.span-f {
  float: left;
  font-family: 'Lato Bold';
  font-size: 138px;
}
@media (max-width: 1599px) {
  .span-f {
    float: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.content {
  margin-bottom: 110px;
}
.content__heading {
  margin: 20px auto 20px auto;
  font-family: 'Lato Light';
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
}
.content__paragraph {
  margin: 0;
  font-family: 'Lato Regular';
  font-size: 20px;
  line-height: 58px;
  text-transform: uppercase;
}
.content__paragraph > span {
  opacity: 0.5;
}
.content__paragraph_small {
  margin: 0;
  font-family: 'Lato Regular';
  font-size: 14px;
  line-height: 24px;
  opacity: 0.5;
}
.about .content,
.work .content,
.contacts .content {
  margin-bottom: 53px;
}
.about .content__heading,
.work .content__heading,
.contacts .content {
  margin-bottom: 35px;
}
.footer {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 40px 0;
  min-width: 1500px;
  max-width: 1800px;
  text-align: center;
  color: #ffffff;
  background-color: #68a097;
  box-sizing: border-box;
}
.footer__social-link {
  display: inline-block;
  vertical-align: top;
  margin-right: 36px;
  width: 60px;
  height: 60px;
  background-color: #82c8bd;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.footer__social-link:hover {
  background-color: #df5c64;
}
.footer__social-link_fb {
  background-image: url("../img/icons/fb.png");
}
.footer__social-link_tw {
  background-image: url("../img/icons/tw.png");
}
.footer__social-link_g {
  background-image: url("../img/icons/g+_b.png");
}
.footer__social-link_in {
  background-image: url("../img/icons/lin_b.png");
}
